.theme-dark img[alt$="invert_dark"] {
  filter: invert(87.5%);
  /* mix-blend-mode: screen; */
}

.theme-light img[alt$="invert_light"] {
  filter: invert(90%) sepia(44%) contrast(107%);
  /* mix-blend-mode: screen; */
}

/* PlantUML rendered images For dark mode */
.theme-dark img[src^="https://www.plantuml.com/plantuml/png"],
.theme-dark img[src^="https://www.plantuml.com/plantuml/svg"] {
  filter: invert(92.66%) sepia(73.54%) saturate(44%);
}