
:root
{
    --dark0_x:          31,31,31; /* #282828 */
    --light0_x:         171,168,154; /* #aba89a */
}

html,
body {
  /* Set font family to monospace */
  font-family: var(--font-monospace);

  /* Norse rune font for hilarity Comes from dafont.com */
  --custom-font: "Norse";
  /* font-family: 'Norse'; */
}

/* Dark mode */
.theme-dark .markdown-preview-view code,
.theme-dark .cm-s-obsidian span.cm-inline-code {
  color: orange !important;
}

/* Light mode */
.theme-light .markdown-preview-view code,
.theme-light .cm-s-obsidian span.cm-inline-code {
  color: black !important;
}
