
<!DOCTYPE html>
<html lang="{{ meta.mainLanguage }}">
    <head>
        <title>404-es hiba</title>
        <link href="/styles/digital-garden-base.css" rel="stylesheet">
        {%-if meta.themeStyle%}
            <link href="/styles/obsidian-base.css" rel="stylesheet">
    	    <link href="{{meta.themeStyle}}" rel="stylesheet">
        {% else %}
            <link href="/styles/style.css" rel="stylesheet">
        {%endif%}

        <link href="/styles/custom-style.css" rel="stylesheet">
        
    </head>
    <body class="theme-{{meta.baseTheme}} markdown-preview-view">
        <div class="content centered">

            {%-if not meta.themeStyle%}
                <div class="font-bg"> &#x1F60E; </div>
            {%endif%}
            <h1>Nincs itt semmi.</h1>
            <p>Ha egy link vezetett ide, az nem létezik, vagy a bejegyzés még nem lett nyilvánosan létrehozva.</p>
            <a href="/">Vissza a kezdőoldalra</a>
        </div>
    </body>
</html>
